target/
!.mvn/wrapper/maven-wrapper.jar
/bin/
/.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

project.properties
*.properties
project.properties
